.chart{
    flex: 4;
    box-shadow: 10px 10px 14px 0px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(199, 199, 199, 0.75);
    color: gray;

    .title{
        margin-bottom: 20px;
    }
    .chatGrid{
        stroke: rgb(231, 236, 238);
    }
}